*{ margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
.container{
    width: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr auto auto auto .2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "titel titel"
    "mapa direccion"
    "footer footer";
}
.header{
    text-align: center;
    grid-area: header;
    justify-content: center;
    display: inline-block;
}
.header .logo{
    width: 200px;
    height: 80px;
}
.header nav{
    border-radius: 5px;
    background-color: rgb(110, 99, 99); 
    display: flex;

}
.header nav ul{
    list-style: none;
    font-style: italic;
    margin: 15px auto;
 }
.header nav ul li{
    display: inline-block;
    text-align: center;
    }
header nav ul li a{
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    color: white;
    }
.header nav ul li a:hover{
    color: black;
    background-color: white;
}
.header h1{
    color: black;
    font-style: italic;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
.main{
    grid-area: main;
    display: inline;
    justify-content: center;
    }
.titel{
    grid-area: titel;
}
.mapa{
    grid-area: mapa;
    justify-content: center;
}
.direccion{
    grid-area: direccion;
    text-align: center;
    justify-items: center;
}
h2{
    background-color: rgb(64, 62, 62) ;
    text-align: left;
    color: white;
   
    }
h5{
        color: rgb(43, 13, 13);
        text-align: center;
    }

a{
    text-decoration: none;
    }
.footer{
    background-color: whitesmoke;
    text-align: center;
    grid-area: footer;
    }
.footer img{
    width: 40px;
    height: 40px;
            }
img{
    width: 375px;
    height: 375px;
    margin: 0;
    padding: 0;
    display: inline-block;
        }
.mapa img{
    width: 700px;
    height: 500px;
}
.local img{
   width: 1200px;
   height: 600px;
}


@media screen and (mind-width: 600px ){
    .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "titel"
    "mapa"
    "direccion"
    "footer";}

    
}
